<app-header-recruiter></app-header-recruiter>
<section class="formCompanyUpdate">
   <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
         <div class="col-10">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
               <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">CẬP NHẬT THÔNG TIN CÔNG TY</h3>
                  <form (ngSubmit)="submitButtonClicked()">

                     <div class="row">
                        <div class="col-md-6 mb-2">
                           <label class="form-label" for="name">Tên Công Ty</label><span class="link-danger">
                              *</span>
                           <div class="jms-field">
                              <input class="form-control" type="text" id="name" placeholder="Nhập tên công ty" required
                                 [formControl]="nameRq" />
                              <small class="text-danger" role="alert" *ngIf="nameRq.invalid && (nameRq.touched || checkReq)">{{getErrorMessageName()}}</small>
                           </div>
                        </div>
                        <div class="col-md-6 mb-2">
                           <label class="form-label" for="email">Email</label><span class="link-danger">
                              *</span>
                           <div class="jms-field">
                              <input class="form-control" type="email" id="email" placeholder="Nhập email" required
                                 [formControl]="emailRq" />
                              <small class="text-danger" role="alert" *ngIf="emailRq.invalid && (emailRq.touched || checkReq)">{{getErrorMessageEmail()}}</small>
                           </div>
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-md-6 mb-2">
                           <label for="taxNum" class="form-label">Mã Số Thuế</label><span class="link-danger">
                              *</span>
                           <div class="jms-field">
                              <input class="form-control" type="number" id="taxNum" placeholder="Nhập mã số thuế" required
                                 [formControl]="taxNumRq" />
                              <small class="text-danger" role="alert" *ngIf="taxNumRq.invalid && (taxNumRq.touched || checkReq)">{{getErrorMessageTaxNum()}}</small>
                           </div>
                        </div>
                        <div class="col-md-6 mb-2">
                           <label for="website" class="form-label">Website</label>
                           <div class="jms-field">
                              <input class="form-control" type="text" id="website" placeholder="https://"
                                 [formControl]="websiteRq" />
                           </div>
                        </div>
                     </div>

                     <div class="row">

                        <div class="col-md-12 mb-2">
                           <label class="form-label select-label">Quy Mô</label><span class="link-danger">
                              *</span>
                           <div class="jms-field">
                              <select class="form-select" required [formControl]="sizeRq" id="sizeRq" aria-label="Quy mô công ty">
                                 <option value="0" disabled>Chọn quy mô công ty</option>
                                 <option *ngFor="let elm of sizes; index as i" value={{elm}}>{{elm}}</option>
                              </select>
                              <small class="text-danger" role="alert" *ngIf="sizeRq.invalid && (sizeRq.touched || checkReq)">{{getErrorMessageSize()}}</small>
                           </div>
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-md-6 mb-2">
                           <label for="yearOfEstablishment" class="form-label">Năm thành lập</label>
                           <div class="jms-field">
                              <input class="form-control" type="number" id="yearOfEstablishment" placeholder="Nhập năm thành lập"
                                 required [formControl]="yearOfEstablishmentRq" />

                           </div>
                        </div>
                        <div class="col-md-6 mb-2 pb-2">
                           <label class="form-label" for="phone">Số Điện Thoại</label>
                           <div class="jms-field">
                              <input class="form-control" type="tel" id="phone" placeholder="Nhập số điện thoại công ty" required
                                 [formControl]="phoneRq" />
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12 mb-2 pb-2">
                           <label class="form-label" for="address">Địa Chỉ</label><span class="link-danger">
                              *</span>
                           <div class="jms-field">
                              <input class="form-control" type="text" id="address" placeholder="Nhập địa chỉ công ty" required
                                 [formControl]="addressRq" />
                              <small class="text-danger" role="alert" *ngIf="addressRq.invalid && (addressRq.touched || checkReq)">{{getErrorMessageAddress()}}</small>
                           </div>
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-12 pb-4">
                           <div class="form-outline">
                              <label class="form-label" for="description">Mô Tả</label><span class="link-danger">
                                 *</span>
                              <ckeditor [config]="config" [editor]="Editor" data=""
                                 required [formControl]="descriptionRq">
                              </ckeditor>
                              <small class="text-danger" role="alert"
                                 *ngIf="descriptionRq.invalid && checkReq">{{getErrorMessageDescriptionRequirement()}}</small>
                           </div>
                        </div>
                     </div>




                     <div class="row mt-3">
                        <div class="col-12 pb-4">
                           <label class="form-label pb-2">Hình Ảnh Công Ty</label>

                           <img class="file-upload-image pb-2 avatar" [src]="imageAvatarSrc" alt="your image"
                              [style.display]="displayImageAvatar" />

                           <div class="image-upload-wrap" ng-hide="true">
                              <input class="file-upload-input" type='file' multiple=false id="fileInput"
                                 (change)="loadAvatar($event);" accept="image/*" />
                           </div>
                        </div>
                     </div>


                     <div class="row">
                        <div class="col-12 pb-2">
                           <label class="form-label pb-2">Hình nền Công Ty</label>
                           <img class="file-upload-image pb-2 bacground" [src]="imageBackgroundSrc" alt="your image"
                              [style.display]="displayImageBackground" />
                           <div class="image-upload-wrap" ng-hide="true">
                              <input class="file-upload-input" type='file' multiple=false
                                 (change)="loadBackGround($event);" accept="image/*" />
                           </div>
                        </div>
                     </div>


                     <div class="mt-3 pt-2">
                        <button type="submit" [disabled]="submitting" [attr.aria-busy]="submitting"
                           class="btn btn-lg col-2 btnBlueLight">Lưu</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
