<app-header-recruiter></app-header-recruiter>
<section class="formJdRegister">
   <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
         <div class="col-12 col-lg-8">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
               <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">{{ 'TẠO THÔNG TIN TUYỂN DỤNG' | t }}</h3>
                  <form (ngSubmit)="submitButtonClicked()">

                     <div class="row ">
                        <div class="col-md-12 mb-2">
                           <label class="form-label" for="title">{{ 'Tiêu Đề Tuyển Dụng' | t }}</label><span class="link-danger">
                              *</span>
                           <div class="jms-field">
                              <input class="form-control" type="text" id="title"
                                 [attr.placeholder]="'VD: Tuyển dụng nhân viên Marketing, tuyển dụng designer, ...' | t" required
                                 [formControl]="titleRq" />
                              <small class="text-danger" role="alert" *ngIf="titleRq.invalid && (titleRq.touched || checkReq)">{{ (getErrorMessageTitle()) | t }}</small>
                           </div>
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-md-6 mb-2">
                           <label class="form-label" for="numberRequired">{{ 'Số lượng tuyển dụng' | t }}</label><span
                              class="link-danger"> </span>
                           <div class="jms-field">
                              <input class="form-control" type="number" id="numberRequired" placeholder="100"
                                 [formControl]="numberRequiredRq" />
                              <small class="text-danger" role="alert"
                                 *ngIf="numberRequiredRq.invalid && (numberRequiredRq.touched || checkReq)">{{ (getErrorMessageNumberRequired()) | t }}</small>
                           </div>
                        </div>
                        <div class="col-md-6 mb-2">
                           <label class="form-label" for="email">Email</label><span
                           class="link-danger"> *</span>
                           <div class="jms-field">
                              <input class="form-control" type="email" id="email" placeholder="abc@gmail.com" required
                                 [formControl]="emailRq" />
                              <small class="text-danger" role="alert" *ngIf="emailRq.invalid && (emailRq.touched || checkReq)">{{ (getErrorMessageEmail()) | t }}</small>
                           </div>
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-md-6 mb-2">
                           <label class="form-label" for="position">{{ 'Chức danh' | t }}</label><span class="link-danger">
                           </span>
                           <div class="jms-field">
                              <input class="form-control" type="text" id="position" [attr.placeholder]="'VD: Senior .NET core' | t" [formControl] = "positionRq" />
                              <small class="text-danger" role="alert" *ngIf="positionRq.invalid && (positionRq.touched || checkReq)"></small>
                           </div>
                        </div>
                        <div class="col-md-6 mb-2">
                           <label class="form-label select-label">{{ 'Cấp bậc' | t }}</label><span class="link-danger"> *</span>
                           <div class="jms-field">
                              <select class="form-select" [formControl]="levelRq" required id="levelRq" [attr.aria-label]="'Cấp bậc' | t">
                                 <option value="0" disabled selected>{{ 'Chọn chức danh' | t }}</option>
                                 <option *ngFor="let elm of levels; index as i"
                                    value={{elm.id}}>{{elm.title}}</option>
                              </select>
                              <small class="text-danger" role="alert" *ngIf="levelRq.invalid && (levelRq.touched || checkReq)">{{ (getErrorMessageLevel()) | t }}</small>
                           </div>
                        </div>
                     </div>


                     <div class="row">
                        <div class="col-md-6 mb-2">
                           <label class="form-label" for="ageRequired">{{ 'Yêu cầu tuổi' | t }}</label>
                           <div class="jms-field">
                              <input class="form-control" type="text" id="ageRequired" [attr.placeholder]="'VD: 20 - 35 tuổi' | t"
                                 [formControl]="ageRequiredRq" />
                           </div>
                        </div>
                        <div class="col-md-6 mb-2">
                           <label class="form-label select-label" for="genderRq">{{ 'Giới tính' | t }}</label><span
                              class="link-danger">
                           </span>
                           <div class="jms-field">
                              <select class="form-select" [formControl]="genderRq" id="genderRq" aria-label="genderRq">
                                 <option value="0" disabled selected>{{ 'Yêu cầu giới tính' | t }}</option>
                                 <option *ngFor="let elm of genders; index as i"
                                    value={{elm.genderId}}>{{elm.title}}</option>
                              </select>
                              <small class="text-danger" role="alert" *ngIf="genderRq.invalid && (genderRq.touched || checkReq)">{{ (getErrorMessageGender()) | t }}</small>
                           </div>
                        </div>
                     </div>


                     <div class="row">
                        <div class="col-md-6 mb-2">
                           <label class="form-label select-label" for="typeRq">{{ 'Loại Việc Làm' | t }}</label><span
                              class="link-danger"> *
                           </span>
                           <div class="jms-field">
                              <select class="form-select" [formControl]="typeRq" required id="typeRq" aria-label="typeRq">
                                 <option value="0" disabled selected>{{ 'Chọn loại việc làm' | t }}</option>
                                 <option *ngFor="let elm of employmentTypes; index as i"
                                    value={{elm.id}}>{{elm.title}}</option>
                              </select>
                              <small class="text-danger" role="alert" *ngIf="typeRq.invalid && (typeRq.touched || checkReq)">{{ (getErrorMessageType()) | t }}</small>
                           </div>
                        </div>
                        <div class="col-md-6 mb-2">
                           <label class="form-label select-label" for="categoryRq">{{ 'Lĩnh Vực' | t }}</label><span
                              class="link-danger"> *</span>
                           <div class="jms-field">
                              <select class="form-select" [formControl]="categoryRq" required id="categoryRq" [attr.aria-label]="'Ngành nghề' | t">
                                 <option value="0" disabled selected>{{ 'Chọn Lĩnh Vực' | t }}</option>
                                 <option *ngFor="let elm of categories; index as i"
                                    value={{elm.id}}>{{elm.categoryName}}</option>
                              </select>
                              <small class="text-danger" role="alert" *ngIf="categoryRq.invalid && (categoryRq.touched || checkReq)">{{ (getErrorMessageCategory()) | t }}</small>
                           </div>
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-md-12 mb-2">
                           <label for="expiredDate" class="form-label">{{ 'Ngày Hết Hạn' | t }}</label><span class="link-danger">
                           </span>
                           <div class="jms-field">
                              <input class="form-control" type="date" id="expiredDate" [formControl]="expiredDateRq"
                                 [attr.placeholder]="'Nhập địa chỉ làm việc' | t" />
                              <small class="text-danger" role="alert" *ngIf="expiredDateRq.invalid && (expiredDateRq.touched || checkReq)">{{ (getErrorMessageExpiredDateRq()) | t }}</small>
                           </div>
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-md-12 mb-2">
                           <label for="address" class="form-label">{{ 'Địa chỉ' | t }}</label><span class="link-danger"> *</span>
                           <div class="jms-field">
                              <input class="form-control" type="text" id="address" [attr.placeholder]="'Nhập địa chỉ làm việc' | t"
                                 [formControl]="addressRq" required />
                              <small class="text-danger" role="alert" *ngIf="addressRq.invalid && (addressRq.touched || checkReq)">{{ (getErrorMessageAddress()) | t }}</small>
                           </div>
                        </div>
                     </div>

                     <div class="row">
                        <label for="salary" class="form-label">{{ 'Mức Lương' | t }}<span class="link-danger">
                              *</span></label>
                        <div class="col-md-12 mb-2">
                           <div class="jms-field">
                              <input class="form-control" type="text" id="salary" [attr.placeholder]="'Từ 10 - 15 triệu' | t" required
                                 [formControl]="salaryRq" />
                              <small class="text-danger" role="alert" *ngIf="salaryRq.invalid && (salaryRq.touched || checkReq)">{{ (getErrorMessageMinSalary()) | t }}</small>
                           </div>
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-md-12 mb-4">
                           <label for="description" class="form-label">{{ 'Mô Tả Công Việc' | t }}</label><span class="link-danger">
                              *   </span><button type="button" [attr.title]="'Phân chia các ý theo dạng danh sách để tìm kiếm hiệu quả hơn!' | t"><i class="bi bi-info-square-fill"></i></button>
                           <jms-rich-text id="description" [config]="configDescription" required
                              [formControl]="descriptionRq"></jms-rich-text>
                           <small class="text-danger" role="alert"
                              *ngIf="descriptionRq.invalid && checkDes">{{ (getErrorMessageDescription()) | t }}</small>
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-md-12 mb-4">
                           <label for="education" class="form-label">{{ 'Yêu Cầu Học Vấn' | t }}</label><span class="link-danger">
                              *  </span><button type="button" [attr.title]="'Phân chia các ý theo dạng danh sách để tìm kiếm hiệu quả hơn!' | t"><i class="bi bi-info-square-fill"></i></button>
                           <jms-rich-text id="education" [config]="configEducationRequirement"
                              required [formControl]="educationRq">
                           </jms-rich-text>
                           <small class="text-danger" role="alert" class="ts-6" *ngIf="educationRq.invalid && checkDes">{{ 'Yêu cầu học vấn không được để trống!' | t }}</small>
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-md-12 mb-4">
                           <label for="experience" class="form-label">{{ 'Yêu Cầu Kinh nghiệm' | t }}</label><span
                              class="link-danger">
                              * </span><button type="button" [attr.title]="'Phân chia các ý theo dạng danh sách để tìm kiếm hiệu quả hơn!' | t"><i class="bi bi-info-square-fill"></i></button>
                           <jms-rich-text id="experience" [config]="configExperienceRequirement"
                              required [formControl]="experienceRq">
                           </jms-rich-text>
                           <small class="text-danger" role="alert"
                              *ngIf="experienceRq.invalid && checkReq">{{ (getErrorMessageExperienceRequirement()) | t }}</small>
                        </div>
                     </div>


                     <div class="row">
                        <div class="col-md-12 mb-4">
                           <label for="skill" class="form-label">{{ 'Yêu Cầu Kỹ năng' | t }}</label><span class="link-danger">
                              * </span><button type="button" [attr.title]="'Phân chia các ý theo dạng danh sách để tìm kiếm hiệu quả hơn!' | t"><i class="bi bi-info-square-fill"></i></button>
                           <jms-rich-text id="skill" [config]="configSkillRequirement" required
                              [formControl]="skillRq">
                           </jms-rich-text>
                           <small class="text-danger" role="alert"
                              *ngIf="skillRq.invalid && checkReq">{{ (getErrorMessageSkillRequirement()) | t }}</small>
                        </div>
                     </div>


                     <div class="row">
                        <div class="col-md-12 mb-4">
                           <label for="certificate" class="form-label">{{ 'Yêu Cầu Chứng Chỉ' | t }}</label><span>&nbsp;</span><button type="button" [attr.title]="'Phân chia các ý theo dạng danh sách để tìm kiếm hiệu quả hơn!' | t"><i class="bi bi-info-square-fill"></i></button>
                           <jms-rich-text id="certificate" [config]="configCertificateRequirement"
                              required [formControl]="certificateRq">
                           </jms-rich-text>
                        </div>
                     </div>


                     <div class="row">
                        <div class="col-md-12 mb-4">
                           <label for="project" class="form-label">{{ 'Yêu Cầu Dự Án' | t }}</label><span>&nbsp;</span><button type="button" [attr.title]="'Phân chia các ý theo dạng danh sách để tìm kiếm hiệu quả hơn!' | t"><i class="bi bi-info-square-fill"></i></button>
                           <jms-rich-text id="project" [config]="configProjectRequirement" required
                              [formControl]="projectRq">
                           </jms-rich-text>
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-md-12 mb-2">
                           <label for="benefit" class="form-label">{{ 'Quyền Lợi' | t }}</label><span class="link-danger">
                              * </span><button type="button" [attr.title]="'Phân chia các ý theo dạng danh sách để tìm kiếm hiệu quả hơn!' | t"><i class="bi bi-info-square-fill"></i></button>
                           <jms-rich-text id="benefit" [config]="configBenefitRequirement" required
                              [formControl]="benefitRq">
                           </jms-rich-text>
                           <small class="text-danger" role="alert" *ngIf="benefitRq.invalid && checkReq">{{ 'Quyền lợi không được để trống' | t }}</small>
                        </div>
                     </div>


                     <div class="row">
                        <div class="col-md-12 mb-2">
                           <label for="otherRequired" class="form-label">{{ 'Yêu Cầu Khác' | t }}</label><span>&nbsp;</span><button type="button" [attr.title]="'Phân chia các ý theo dạng danh sách để tìm kiếm hiệu quả hơn!' | t"><i class="bi bi-info-square-fill"></i></button>
                           <jms-rich-text id="otherRequired" [config]="configOtherRequirement"
                              required [formControl]="otherRequired">
                           </jms-rich-text>
                        </div>
                     </div>


                     <div class="mt-4 pt-2">
                        <button type="submit" [disabled]="submitting" [attr.aria-busy]="submitting"
                           class="btn btn-xl col-2 btnBlueLight">{{ 'Tạo mới' | t }}</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
